body {
    background: linear-gradient(to bottom, #000000, #363636, #5f1600);
    font-family: Kode Mono;
    color: white;
    text-shadow:
    1px 1px 2px black,
    0 0 1em #F63C02,
    0 0 0.2em #FFA900;
    margin: 0px;
}

/*Distribuciones*/
.threecolumnstworows {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
}

/*Márgenes y Paddings*/
.margintopcero {
    margin-top: 0px;
}
.margintopsmall {
    margin-top: 20px;
}
.margintopxl {
    margin-top: 80px;
}
.marginbotcero {
    margin-bottom: 0px;
}
.marginbotsmall {
    margin-bottom: 4em;
}
.marginleftright {
    margin-left: 20%;
    margin-right: 20%;
}

/* Títulos, subtítulos, antetítulos y párrafos*/
.antetitulo {
    font-size: 70%;
}
.subtituloxl {
    font-size: 2em;
}
.subtitulo {
    font-size: 90%;
}
.subtituloxs {
    font-size: 60%;
}
.titulopeli {
    font-size: 80%;
    text-transform: uppercase;
    transition: 0.5s;
}
.titulopeli:hover {
    letter-spacing: 10px;
}
.info {
    font-size: 70%;
}
.grantitulo {
    font-size: 10em;
    letter-spacing: .2em;
}

/*Alineación de letra*/
.txtcenter {
    text-align: center;
}

/*Estilos de letra*/
.italic {
    font-style: italic;
}
.spaced {
    letter-spacing: 20px;
}

a {
    color:rgba(112, 112, 112, 0.5);
    text-decoration: none;
    text-shadow: none;
}

a:hover {
    color:rgb(168, 168, 168)
}

hr {
    background-image: url("The-Game-Awards_2Y3ZSkn.jpg");
    background-size: cover;
    opacity: 0.5;
    filter: drop-shadow(0px 0px 5px black);
    width: 80%;
    height: 2em;
    border-style: none;
    border-radius: 40%;
}

img {
    width: 60%;
    height: 80%;
    border-radius: 5%;
    border: groove 2px grey;
}

nav {
    margin: 0px;
    width: 100%;
    background-image: url("The-Game-Awards_2Y3ZSkn.jpg");
}

nav img {
    margin-left: 30%;
    width: 40%;
    height: 10%;
}



/*Clases*/
.gameyear {
    letter-spacing: 0px;  
    transition: 0.5s;
}
.gameyear:hover {
    letter-spacing: 20px;
}

.shadow {
    filter: none;
    transition: 0.5s;
}

.shadow:hover {
    filter: drop-shadow(0px 0px 40px rgb(155, 155, 155));
}

.infonominado {
    width: 50vw;
    height: 100vh;
    color: #000000;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    justify-items: center;
    border: double 1px black;
    border-radius: 5%;
    text-shadow: none;
}

.infonominado a {
    color:rgba(134, 134, 134, 0.5);
    text-decoration: none;
    text-shadow: none;
}

.infonominado a:hover {
    color:rgba(197, 197, 197, 0.5);
}

.infonominado img {
    width: 50%;
    height: 90%;
}

.infonominado div p {
    font-family: Micro 5;
    font-size: 80%;
}

/*IDs*/
#logo {
    border: none;
}

#ganador img {
    width: 30vw;
    height: 60vh;
}

#infoalan {
    padding: 3em;
    background: linear-gradient(to bottom, #8d5f04, #6b1a02);
    transition: 0.5s;
}

#infoalan:hover {
    box-shadow: 0px 0px 50px black;
}

#infobaldurs {
    padding: 3em 3em 5em 3em;
    background: linear-gradient(to bottom, #8d5f04, #6b1a02);
    background-size: cover;
    transition: 0.5s;
}

#infobaldurs:hover {
    box-shadow: 0px 0px 50px black;
}

#infospiderman {
    height: 90vh;
    padding: 3em 3em .2em 3em;
    background: linear-gradient(to bottom, #8d5f04, #6b1a02);
    background-size: cover;
    transition: 0.5s;
}

#infospiderman:hover {
    box-shadow: 0px 0px 50px black;
}

#inforesident {
    height: 90vh;
    padding: 3em 3em 1em 3em;
    background: linear-gradient(to bottom, #8d5f04, #6b1a02);
    background-size: cover;
    transition: 0.5s;
}

#inforesident:hover {
    box-shadow: 0px 0px 50px black;
}

#infosupermario {
    height: 80vh;
    padding: 3em 3em 1em 3em;
    background: linear-gradient(to bottom, #8d5f04, #6b1a02);
    background-size: cover;
    transition: 0.5s;
}

#infosupermario:hover {
    box-shadow: 0px 0px 50px black;
}

#infozelda {
    height: 85vh;
    padding: 3em 3em 1em 3em;
    background: linear-gradient(to bottom, #8d5f04, #6b1a02);
    background-size: cover;
    transition: 0.5s;
}

#infozelda:hover {
    box-shadow: 0px 0px 50px black;
}

#backtop {
    display: flex;
    justify-content: end;
    margin-top: 1vh;
    margin-right: 1vw;
    position: sticky;
    bottom: 100%;
}